<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.startup">
  <startup class="com.abapblog.adt.extension.Startup"/>
</extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ABAP"
            id="com.abapblog.adt.Passwords">
      </category>
      <view
            name="Passwords"
            icon="icons/passwords.png"
            category="com.abapblog.adt.Passwords"
            class="com.abapblog.adt.extension.passwords.view.PasswordView"
            id="com.abapblog.adt.extension.passwords.Passwords">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.abapblog.adt.extension.passwords.Preferences">
         </view>
      </perspectiveExtension>
   </extension>   
  <extension
         point="org.eclipse.ui.menus">
   <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
             <menu label="ABAP Project"
             	icon="platform:/plugin/com.sap.adt.tools.core.ui/icons/obj/abap_application.png">
             	         <command
               commandId="com.abapblog.adt.extension.commands.LogWithSecureStorage"
               style="push">
                <visibleWhen
                   checkEnabled="false">
                <or>
                   <iterate
                         ifEmpty="false"
                         operator="or">
                      <and>
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                            <or>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.corenature">
                            </test>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.abapnature">
                            </test>                            
                            </or>         
                         </adapt>
                      </and>
                   </iterate>
                   <and>
                      <adapt
                            type="java.util.Collection">
                         <count
                               value="0">
                         </count>
                      </adapt>
                      <with
                            variable="activeContexts">
                         <iterate
                               operator="or">
                            <equals
                                  value="com.sap.adt.tools.core.ui.abap">
                            </equals>
                         </iterate>
                      </with>
                   </and>
                </or>
             </visibleWhen>
         </command>
         <command
               commandId="com.abapblog.adt.extension.commands.LogToAllSAPSystems"
               style="push">
                <visibleWhen
                   checkEnabled="false">
                <or>
                   <iterate
                         ifEmpty="false"
                         operator="or">
                      <and>
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                            <or>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.corenature">
                            </test>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.abapnature">
                            </test>                            
                            </or>                             
                         </adapt>
                      </and>
                   </iterate>
                   <and>
                      <adapt
                            type="java.util.Collection">
                         <count
                               value="0">
                         </count>
                      </adapt>
                      <with
                            variable="activeContexts">
                         <iterate
                               operator="or">
                            <equals
                                  value="com.sap.adt.tools.core.ui.abap">
                            </equals>
                         </iterate>
                      </with>
                   </and>
                </or>
             </visibleWhen>
         </command>
<command
               commandId="com.abapblog.adt.extension.commands.ChangeLogonLanguage"
               style="push">
                <visibleWhen
                   checkEnabled="false">
                <or>
                   <iterate
                         ifEmpty="false"
                         operator="or">
                      <and>
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                            <or>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.corenature">
                            </test>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.abapnature">
                            </test>                            
                            </or>                                    
                         </adapt>
                      </and>
                   </iterate>
                   <and>
                      <adapt
                            type="java.util.Collection">
                         <count
                               value="0">
                         </count>
                      </adapt>
                      <with
                            variable="activeContexts">
                         <iterate
                               operator="or">
                            <equals
                                  value="com.sap.adt.tools.core.ui.abap">
                            </equals>
                         </iterate>
                      </with>
                   </and>
                </or>
             </visibleWhen>
         </command>
<command
               commandId="com.abapblog.adt.extension.commands.ChangeUser"
               style="push">
                <visibleWhen
                   checkEnabled="false">
                <or>
                   <iterate
                         ifEmpty="false"
                         operator="or">
                      <and>
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                            <or>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.corenature">
                            </test>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.abapnature">
                            </test>                            
                            </or>                                 
                         </adapt>
                      </and>
                   </iterate>
                   <and>
                      <adapt
                            type="java.util.Collection">
                         <count
                               value="0">
                         </count>
                      </adapt>
                      <with
                            variable="activeContexts">
                         <iterate
                               operator="or">
                            <equals
                                  value="com.sap.adt.tools.core.ui.abap">
                            </equals>
                         </iterate>
                      </with>
                   </and>
                </or>
             </visibleWhen>
         </command>
<command
               commandId="com.abapblog.adt.extension.commands.ChangeClient"
               style="push">
                <visibleWhen
                   checkEnabled="false">
                <or>
                   <iterate
                         ifEmpty="false"
                         operator="or">
                      <and>
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                            <or>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.corenature">
                            </test>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.abapnature">
                            </test>                            
                            </or>                                 
                         </adapt>
                      </and>
                   </iterate>
                   <and>
                      <adapt
                            type="java.util.Collection">
                         <count
                               value="0">
                         </count>
                      </adapt>
                      <with
                            variable="activeContexts">
                         <iterate
                               operator="or">
                            <equals
                                  value="com.sap.adt.tools.core.ui.abap">
                            </equals>
                         </iterate>
                      </with>
                   </and>
                </or>
             </visibleWhen>
         </command>
         </menu>
        </menuContribution>
         </extension>
      <extension
            point="org.eclipse.ui.commands">
            <command id="com.abapblog.adt.extension.commands.LogToAllSAPSystems"
                     name="Logon to All SAP Systems"
                     defaultHandler="com.abapblog.adt.extension.commands.LogToAllSAPSystemsHandler"
                     >
                     </command>
      </extension>
            <extension
            point="org.eclipse.ui.commands">
            <command id="com.abapblog.adt.extension.commands.ChangeLogonLanguage"
                     name="Change Logon Language"
                     defaultHandler="com.abapblog.adt.extension.commands.ChangeLogonLanguageHandler"
                     >
                     </command>
      </extension>
            <extension
            point="org.eclipse.ui.commands">
            <command id="com.abapblog.adt.extension.commands.ChangeUser"
                     name="Change Logon User"
                     defaultHandler="com.abapblog.adt.extension.commands.ChangeUserHandler"
                     >
                     </command>
      </extension>
            <extension
            point="org.eclipse.ui.commands">
            <command id="com.abapblog.adt.extension.commands.ChangeClient"
                     name="Change Logon Client"
                     defaultHandler="com.abapblog.adt.extension.commands.ChangeClientHandler"
                     >
                     </command>
      </extension>
                  <extension
            point="org.eclipse.ui.commands">
            <command id="com.abapblog.adt.extension.commands.LogWithSecureStorage"
                     name="Logon with Secure Storage"
                     defaultHandler="com.abapblog.adt.extension.commands.LogWithSecureStorage"
                     >
                     </command>
      </extension>
<extension
         point="org.eclipse.ui.preferencePages">
               <page
               		 category="com.sap.adt.tools.core.ui.preferencePages.ABAP"
                     class="com.abapblog.adt.extension.preferences.Preferences"
                     id="com.abapblog.adt.extension.preferences.Preferences"
                     name="Automatic Logon">
               </page>
</extension>
            <extension
                  point="org.eclipse.core.runtime.preferences">
               <initializer
                     class="com.abapblog.adt.extension.preferences.PreferenceInitializer">
               </initializer>
</extension>
  <extension
       point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            appearsBefore="com.sap.adt.semanticfs.packageContent"
            contentProvider="com.abapblog.adt.extension.passwords.projectExplorer.ContentProvider"
            icon="icons/obj/package_obj.png"
            id="com.abapblog.adt.extensions.NavigatorContent"
            labelProvider="com.abapblog.adt.extension.passwords.projectExplorer.LabelProvider"
            name="%navigatorContent.packages"
            activeByDefault="true"
            priority="highest">    
 		    <triggerPoints>
            <or>
               <instanceof
                     value="com.sap.adt.projectexplorer.ui.internal.node.AbapRepositoryPackageNode">
               </instanceof>
               <instanceof
                     value="com.sap.adt.projectexplorer.ui.internal.node.AbapSystemLibraryNode">
               </instanceof>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.sap.adt.projectexplorer.ui.node.IAbapRepositoryBaseNode">
               </instanceof>
               <instanceof
                     value="com.sap.adt.projectexplorer.ui.internal.node.AbapRepositoryPackageNode">
               </instanceof>
               <instanceof
                     value="com.sap.adt.projectexplorer.ui.internal.node.AbapFavoritePackagesNode">
               </instanceof>
            </or>
         </possibleChildren>
	   </navigatorContent>            
 </extension>
 
  <extension
         id="com.abapblog.adt.extensions.passwords.ProjectExplorer"
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="com.abapblog.adt.extensions.NavigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
</plugin>

