<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ABAP"
            id="com.abapblog.favorites">
      </category>
      <view
            name="Favorites"
            icon="icons/favorite16.png"
            category="com.abapblog.favorites"
            class="com.abapblog.favorites.views.Favorites"
            id="com.abapblog.favorites.views.Favorites">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.abapblog.favorites.views.Favorites">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
