<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ABAP"
            id="com.abapblog.favorites">
      </category>
      <view
            name="Favorites"
            icon="icons/favorite16.png"
            category="com.abapblog.favorites"
            class="com.abapblog.favorites.views.Favorites"
            id="com.abapblog.favorites.views.Favorites">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.abapblog.favorites.views.Favorites">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ABAP"
            id="com.abapblog.favoritesDO">
      </category>
      <view
            name="Favorites Dev Objects"
            icon="icons/favorite16.png"
            category="com.abapblog.favorites"
            class="com.abapblog.favoritesDO.views.FavoritesDO"
            id="com.abapblog.favoritesDO.views.FavoritesDO">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.abapblog.favoritesDO.views.FavoritesDO">
         </view>
      </perspectiveExtension>
   </extension>
            <extension
                  point="org.eclipse.ui.preferencePages">
               <page
               		 category="com.sap.adt.tools.core.ui.preferencePages.ABAP"
                     class="com.abapblog.favorites.preferences.FavoritesPreferences"
                     id="com.abapblog.favorites.preferences.FavoritesPreferences"
                     name="Favorites">
               </page>
            </extension>
            <extension
                  point="org.eclipse.core.runtime.preferences">
               <initializer
                     class="com.abapblog.favorites.preferences.PreferenceInitializer">
               </initializer>
            </extension>

            <extension  point="org.eclipse.ui.menus">
                <menuContribution allPopups="true"
          					locationURI="popup:#EditorContext?after=com.sap.adt.tools.abapsource.ui.navigateInto.menu">
       <command
             commandId="com.abapblog.favorites.AddToFavorites"
             icon="icons/favorite16.png"
             id="com.abapblog.favorites.commands.AddToFavorites"
             label="Add To Favorites"
             style="push">
  			<visibleWhen
                  checkEnabled="false">
            </visibleWhen>
       </command>
    </menuContribution>
                    <menuContribution allPopups="false"
          					locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu??after=com.sap.adt.activation.ui.command.selectionActivation">
       <command
             commandId="com.abapblog.favorites.AddToFavorites"
             icon="icons/favorite16.png"
             id="com.abapblog.favorites.commands.AddToFavorites"
             label="Add To Favorites"
             style="push">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
       </menuContribution>
    </extension>
   <extension
         point="org.eclipse.ui.handlers">
    <handler
      class="com.abapblog.favorites.commands.AddToFavoritesProjectExplorerHandler"
      commandId="com.abapblog.favorites.AddToFavorites">

</handler>
    </extension>
</plugin>

