<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ABAP"
            id="com.abapblog.favorites">
      </category>
      <view
            name="Favorites"
            icon="icons/favorite16.png"
            category="com.abapblog.favorites"
            class="com.abapblog.favorites.views.Favorites"
            id="com.abapblog.favorites.views.Favorites">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.abapblog.favorites.views.Favorites">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ABAP"
            id="com.abapblog.favoritesDO">
      </category>
      <view
            name="Favorites Dev Objects"
            icon="icons/favorite16.png"
            category="com.abapblog.favorites"
            class="com.abapblog.favoritesDO.views.FavoritesDO"
            id="com.abapblog.favoritesDO.views.FavoritesDO">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.abapblog.favoritesDO.views.FavoritesDO">
         </view>
      </perspectiveExtension>
   </extension>
  <extension
         point="org.eclipse.ui.menus">
   <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
             <menu label="ABAP Project"
             	icon="platform:/plugin/com.sap.adt.tools.core.ui/icons/obj/abap_application.png">
         <command
               commandId="com.abapblog.favorites.commands.LogToAllSAPSystems"
               style="push">
                <visibleWhen
                   checkEnabled="false">
                <or>
                   <iterate
                         ifEmpty="false"
                         operator="or">
                      <and>
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.abapnature">
                            </test>
                         </adapt>
                      </and>
                   </iterate>
                   <and>
                      <adapt
                            type="java.util.Collection">
                         <count
                               value="0">
                         </count>
                      </adapt>
                      <with
                            variable="activeContexts">
                         <iterate
                               operator="or">
                            <equals
                                  value="com.sap.adt.tools.core.ui.abap">
                            </equals>
                         </iterate>
                      </with>
                   </and>
                </or>
             </visibleWhen>
         </command>
<command
               commandId="com.abapblog.favorites.commands.ChangeLogonLanguage"
               style="push">
                <visibleWhen
                   checkEnabled="false">
                <or>
                   <iterate
                         ifEmpty="false"
                         operator="or">
                      <and>
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.abapnature">
                            </test>
                         </adapt>
                      </and>
                   </iterate>
                   <and>
                      <adapt
                            type="java.util.Collection">
                         <count
                               value="0">
                         </count>
                      </adapt>
                      <with
                            variable="activeContexts">
                         <iterate
                               operator="or">
                            <equals
                                  value="com.sap.adt.tools.core.ui.abap">
                            </equals>
                         </iterate>
                      </with>
                   </and>
                </or>
             </visibleWhen>
         </command>
<command
               commandId="com.abapblog.favorites.commands.ChangeUser"
               style="push">
                <visibleWhen
                   checkEnabled="false">
                <or>
                   <iterate
                         ifEmpty="false"
                         operator="or">
                      <and>
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.abapnature">
                            </test>
                         </adapt>
                      </and>
                   </iterate>
                   <and>
                      <adapt
                            type="java.util.Collection">
                         <count
                               value="0">
                         </count>
                      </adapt>
                      <with
                            variable="activeContexts">
                         <iterate
                               operator="or">
                            <equals
                                  value="com.sap.adt.tools.core.ui.abap">
                            </equals>
                         </iterate>
                      </with>
                   </and>
                </or>
             </visibleWhen>
         </command>
<command
               commandId="com.abapblog.favorites.commands.ChangeClient"
               style="push">
                <visibleWhen
                   checkEnabled="false">
                <or>
                   <iterate
                         ifEmpty="false"
                         operator="or">
                      <and>
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.sap.adt.abapnature">
                            </test>
                         </adapt>
                      </and>
                   </iterate>
                   <and>
                      <adapt
                            type="java.util.Collection">
                         <count
                               value="0">
                         </count>
                      </adapt>
                      <with
                            variable="activeContexts">
                         <iterate
                               operator="or">
                            <equals
                                  value="com.sap.adt.tools.core.ui.abap">
                            </equals>
                         </iterate>
                      </with>
                   </and>
                </or>
             </visibleWhen>
         </command>
         </menu>
        </menuContribution>
         </extension>
      <extension
            point="org.eclipse.ui.commands">
            <command id="com.abapblog.favorites.commands.LogToAllSAPSystems"
                     name="Logon to All SAP Systems"
                     defaultHandler="com.abapblog.favorites.commands.LogToAllSAPSystemsHandler"
                     >
                     </command>
      </extension>
            <extension
            point="org.eclipse.ui.commands">
            <command id="com.abapblog.favorites.commands.ChangeLogonLanguage"
                     name="Change Logon Language"
                     defaultHandler="com.abapblog.favorites.commands.ChangeLogonLanguageHandler"
                     >
                     </command>
      </extension>
            <extension
            point="org.eclipse.ui.commands">
            <command id="com.abapblog.favorites.commands.ChangeUser"
                     name="Change Logon User"
                     defaultHandler="com.abapblog.favorites.commands.ChangeUserHandler"
                     >
                     </command>
      </extension>
            <extension
            point="org.eclipse.ui.commands">
            <command id="com.abapblog.favorites.commands.ChangeClient"
                     name="Change Logon Client"
                     defaultHandler="com.abapblog.favorites.commands.ChangeClientHandler"
                     >
                     </command>
      </extension>
</plugin>

